# Port number
PORT=3000

#Database
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5555
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=sample
DB_LOGGING_DEV=false

#Cloudynary
CLOUD_NAME=""
API_KEY=""
API_SECRET=""

#Redis
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""
REDIS_USERNAME=""

#Token
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
EXPIRE_TIME="1h"

#OTP
OTP_EXPIRE_TIME=900